name: Build Quarkus

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: '21'
        cache: 'maven'

    - name: Build with Maven
      run: ./mvnw -B package

    - name: Log in to the Container registry
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      if: github.event_name != 'pull_request' && success()
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        file: src/main/docker/Dockerfile.jvm
        tags: ghcr.io/${{ github.repository_owner }}/sn0rt:latest
